@import '@/styles/variables.scss';

.userlist {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  border-right: 1px solid $black_line;
}

.userlistTop {
  height: 50px;
  border-bottom: 1px solid $black_line;

}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  width: 236px;
  height: 44px;
  border-radius: 6px;
  transition: background-color ease 0.5s;
  color: $black_color;
  opacity: 0;
  transform: translateX(-100%);

  &__active {
    background-color: hsla(240, 15%, 94%, 0.2);
  }
}
