@import '@/styles/variables.scss';

.input {
  all: unset;
  background-color: white;
  border: 2px solid $black_line;
  border-radius: 25px;
  padding: 5px 15px;
  width: 85%;
  height: 50px;
  margin: 20px auto;

  &:focus {
    border: 3px solid #2516c7;
  }
}
