@import '@/styles/variables.scss';

.section {
  background-color: #fafafa;
}

.homeContainer {
  height: 80vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  border: 1px solid $black_line;
  background-color: white;

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
  }
}

// .homeTitle {
//     text-align: center;
// }

.messagesTop {
  min-height: 50px;
  border-bottom: 1px solid $black_line;

  img {
    width: 42px;
    aspect-ratio: 1;
  }
}

.messages {
  background-color: white;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}


.inputMessages {
  display: flex;
  justify-content: center;
  position: relative;

  div {
    position: absolute;
    top: 25px;
    right: 8%;

    img {
      width: 50px;
      aspect-ratio: 1;
    }
  }
}