@import '@/styles/variables.scss';

.loginSection {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  .phoneContainer {
    background-image: url("/images/loginPage/home-phones.png");
    height: 581.15px;
    margin-bottom: 12px;
    background-size: 468.32px 634.15px;
    align-self: center;
    flex-basis: 380.32px;
    margin-right: 32px;
    background-position: -46px 0;

    .phoneScreen {
      position: relative;
      height: 1px;
      margin-top: 27px;
    }

    img {
      position: absolute;
      top: 0;
      right: 17px;
      width: 250px;
      height: 538.34px;
    }
  }

  .loginContainer {
    width: 350px;
    display: flex;
    align-items: center;


    .loginContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 25px;
      border: 1px solid $black_line;
      padding: 35px;
      width: 100%;

      .instalogo {
        width: 150px;
      }

    }

    .inputContainer {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      width: 100%;

      input {
        all: unset;
        border: 1px solid $black_line;
        background-color: $light_grey;
        padding: 8px;
      }

      button {
        background-color: #0095f6;
        color: white;
        border: none;
        padding: 5px 0;
        border-radius: 7px;
      }
    }
  }
}
